<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${tableName}+'pojo属性'"></title>
    <script type="text/javascript" src="/js/copy.js"></script>
    <link rel="stylesheet" type="text/css" href="css/codeRegion.css" />
</head>
<body>
<span th:text="${tableName}+'的POJO类属性'"></span>
<button onclick="copyToClip('pojoPropertiesDiv')">复制</button>
<div id="pojoPropertiesDiv" class="codeRegion">
    <p th:each="prop:${props}">
        /**<br/>
        * <span th:text="${prop.propertyDesc}"></span><br/>
        */<br/>
        private <span th:text="${prop.propertyType}"></span> <span th:text="${prop.propertyName}"></span>;
    </p>
</div>
</body>
</html>